=render('layouts/header')
.content
  .header=image_tag('mapa.png')
  .row{ :style => 'margin-top: -25px'}
    .large-6.columns
      =link_to "I lost it", new_report_path, :data => {:sts => "Lost"}), :class => "button alert expand"
    .large-6.columns
      =link_to "I found it", new_report_path, :data => {:sts => "Found"}), :class => "button success expand"
  .row
    .large-6.columns
      %h3 #Hack4Good
      %hr
      %p{ :style => 'text-align: justify;'} Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .large-6.columns
      %h3 About the project
      %hr
      %p{ :style => 'text-align: justify;'} Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.      
=render('layouts/footer')