=render('layouts/header')
.content
  .header=image_tag('mapa.png')
  .row{ :style => 'margin-top: -25px'}
    .large-6.columns
      =link_to "I lost it", new_report_path, :data => {:sts => "Lost"}, :class => "button alert expand"
    .large-6.columns
      =link_to "I found it", new_report_path, :data => {:sts => "Found"}, :class => "button success expand"
  .row
    .large-6.columns
      %h3 #Hack4Good
      %hr
      %p{ :style => 'text-align: justify;'} #hack4good is a unique global hackathon focusing solely on uniting the worlds greatest expert engineers, designers, product builders and entrepreneurs. Together we are helping make the world a better place by building projects that help humanity.
    .large-6.columns
      %h3 About the project
      %hr
      %p{ :style => 'text-align: justify;'} We use IT to help people searching/finding what they lose, in a public service provided by the community.
=render('layouts/footer')