.row
  %form.custom
    .row
      .large-6.columns
        %label Address (optional)
        %input{placeholder: "Ex: Av.Vitacura 2771, Las Condes, Santiago, Chile", type: "text"}/
      .large-6.columns
        %label Description
        %textarea{placeholder: "Describe the object in a few lines to see if WE have any matches. fEx: cell phone Samsung Galaxy SII, black w/ stickers"}